// Base process configuration for resource management

process {
    // Error strategy
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
    
    // Resource labels
    withLabel: process_low {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }
    
    withLabel: process_medium {
        cpus = 4
        memory = '8 GB'
        time = '4h'
    }
    
    withLabel: process_high {
        cpus = 8
        memory = '16 GB'
        time = '12h'
    }
    
    withLabel: process_long {
        time = '48h'
    }
}
